@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0%;
    border-width: 0%;
    border: 0;
    padding: 0;

}

h1,
h2,
h3,a {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

p,
strong {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height:20px;
}

    p::first-letter{
        font-size:xx-large;
    }
/*----------------navbar------------------*/
nav {
    height: 150px;
    margin-bottom: 0%;
    width: 100%;
    display: flex;

}
nav a{
    margin: auto 30px auto 30px;
    text-decoration: none;
    color: darkgray;
}
nav a:hover{
    text-decoration: underline;
}
nav>div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
nav .mainmenu{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    position: relative;
}
.tendina{
    display: flex;
    flex-direction: column;
    position: absolute;
}
.tendina a{
    display: block;
    margin-top: 20px ;
}

.searchbar{
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 30px;

    
}
.searchbar img{
    height: 30px;
    width: auto;
    cursor: pointer;
}
.searchbar input{
    height: 50px;
    width: 300px;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    padding-left: 5%;

}


.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .tendina {
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
  }
  
  .tendina a {
    color: darkgray;
    padding: 3px 3px;
    text-decoration: none;
    display: block;
  }
  
  .show {display: block;}
/*--------------footer------------*/

footer {
    background-image: url(../img/close-up-fresh-grass.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    bottom: 0;
    width: 100%;
}

footer  {
    text-align: center;
}
footer  ul{
    list-style: none;
    padding: 0;
}
footer  ul li {
    display: block;
    margin: 20px 0;
}
footer  ul li a{
    text-decoration: none;
    color: black;
}
footer  ul li a:hover{
    text-decoration:underline;
    color: black;
}
footer  ul li a:visited{
    text-decoration: none;
    color: black;
}
.social{
    display: inline;
    margin:20px;
    text-decoration: none;
}
.social:hover{
    text-decoration: none;
}


/*---------------------------------------------------Form------------------------------------------------------------------*/

.divform {
    background-color: white;
    font-size: 18px;
    text-align: center; 
    margin: 20%;
    margin-top: 10%;
    margin-bottom: 5%;
    border: 4px solid darkgray;
    border-radius: 20px;
    padding: 2%;
    align-content: center;
    width: 100;
    text-align: center; 
}
img.foglie{
    width: 100px;
    height: auto;
}
