
<div class="row">
<div class="col-md-4">
    <div class="divform">
        <form method="post" enctype="multipart/form-data" id="formaggio">
          <h1 class="titolo">ineserisci qui le tue immagini:</h1>
          <p>accendi il gps del tuo telefono e</p>
          <p>inserisci fino a 5 immagini per ogni richiesta di identificazione</p>
          <span>
            <img src="../static/img/icons8-immagine.png" id="foglie" />
          </span>
          <p>
            <input type="file" id="file" name="file" multiple="images/*" />
            <input type="submit" value="Upload" />
          </p>
       
        </form>
      </div>
    </div>
</div>
