<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_95dfed3045c52b6c8a4480ce23217598 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_95dfed3045c52b6c8a4480ce23217598" ></div>
        
</body>
<script>
    
    
            var map_95dfed3045c52b6c8a4480ce23217598 = L.map(
                "map_95dfed3045c52b6c8a4480ce23217598",
                {
                    center: [45.645434, 13.849094],
                    crs: L.CRS.EPSG3857,
                    zoom: 16.5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_8efb03e87073f0b517a1f5620e2cc57a = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 14, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_95dfed3045c52b6c8a4480ce23217598);
        
    
            var circle_79d2231f0b0260370d7071143ae50032 = L.circle(
                [45.35398888888289, 13.78848055555543],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_95dfed3045c52b6c8a4480ce23217598);
        
    
            circle_79d2231f0b0260370d7071143ae50032.bindTooltip(
                `<div>
                     ['piantella']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_754b345808863269cf79a0c170abfc48 = L.circle(
                [45.45398888888889, 13.78848055555456],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_95dfed3045c52b6c8a4480ce23217598);
        
    
            circle_754b345808863269cf79a0c170abfc48.bindTooltip(
                `<div>
                     ['pianta']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_839bc96793450f602a56cc1fcad2d867 = L.circle(
                [45.55398888888899, 13.78848055555556],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_95dfed3045c52b6c8a4480ce23217598);
        
    
            circle_839bc96793450f602a56cc1fcad2d867.bindTooltip(
                `<div>
                     ['piantina']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_5b576c6a1c75ccd131f3dd01b16ecef5 = L.circle(
                [45.65398888888859, 13.78848055555557],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_95dfed3045c52b6c8a4480ce23217598);
        
    
            circle_5b576c6a1c75ccd131f3dd01b16ecef5.bindTooltip(
                `<div>
                     ['pianana']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_26e2488a30d252992b3ee5640063edf0 = L.circle(
                [45.7, 13.78848055555559],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_95dfed3045c52b6c8a4480ce23217598);
        
    
            circle_26e2488a30d252992b3ee5640063edf0.bindTooltip(
                `<div>
                     ['pianterella']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_3fb42d29855248f031bfebca7c925c55 = L.circle(
                [45.85398888888689, 13.78848055555551],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_95dfed3045c52b6c8a4480ce23217598);
        
    
            circle_3fb42d29855248f031bfebca7c925c55.bindTooltip(
                `<div>
                     ['piantazza']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_ce4859b1d628ce3f298d0a439c28f93a = L.circle(
                [45.95398888888789, 13.78848055555512],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_95dfed3045c52b6c8a4480ce23217598);
        
    
            circle_ce4859b1d628ce3f298d0a439c28f93a.bindTooltip(
                `<div>
                     ['piantuccia']
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>