<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_de4a26d80fa29eb1518a237ff50edb54 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_de4a26d80fa29eb1518a237ff50edb54" ></div>
        
</body>
<script>
    
    
            var map_de4a26d80fa29eb1518a237ff50edb54 = L.map(
                "map_de4a26d80fa29eb1518a237ff50edb54",
                {
                    center: [45.645434, 13.849094],
                    crs: L.CRS.EPSG3857,
                    zoom: 4,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_b1664206b2d3af573a5df00541a09723 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_de4a26d80fa29eb1518a237ff50edb54);
        
    
            var circle_50e66188e88bc4bb5a1729a5fe280cd5 = L.circle(
                [45.35398888888289, 13.78848055555543],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_de4a26d80fa29eb1518a237ff50edb54);
        
    
            circle_50e66188e88bc4bb5a1729a5fe280cd5.bindTooltip(
                `<div>
                     ['piantella']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_eaee64b65ef3e1c1c9635f07c3bc11a7 = L.circle(
                [45.45398888888889, 13.78848055555456],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_de4a26d80fa29eb1518a237ff50edb54);
        
    
            circle_eaee64b65ef3e1c1c9635f07c3bc11a7.bindTooltip(
                `<div>
                     ['pianta']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_1f3d6160b14e47b8f3ed5a6d61e8e221 = L.circle(
                [45.55398888888899, 13.78848055555556],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_de4a26d80fa29eb1518a237ff50edb54);
        
    
            circle_1f3d6160b14e47b8f3ed5a6d61e8e221.bindTooltip(
                `<div>
                     ['piantina']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_ad797d651e9fa4a464c1ada452af8ddf = L.circle(
                [45.65398888888859, 13.78848055555557],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_de4a26d80fa29eb1518a237ff50edb54);
        
    
            circle_ad797d651e9fa4a464c1ada452af8ddf.bindTooltip(
                `<div>
                     ['pianana']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_0edfca127a1f25f66a646846a57640ab = L.circle(
                [45.7, 13.78848055555559],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_de4a26d80fa29eb1518a237ff50edb54);
        
    
            circle_0edfca127a1f25f66a646846a57640ab.bindTooltip(
                `<div>
                     ['pianterella']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_0123dccc39ebf430fef87757d9bf43f4 = L.circle(
                [45.85398888888689, 13.78848055555551],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_de4a26d80fa29eb1518a237ff50edb54);
        
    
            circle_0123dccc39ebf430fef87757d9bf43f4.bindTooltip(
                `<div>
                     ['piantazza']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_f7a537a387a597f7dab76fe5c79b8dd0 = L.circle(
                [45.95398888888789, 13.78848055555512],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_de4a26d80fa29eb1518a237ff50edb54);
        
    
            circle_f7a537a387a597f7dab76fe5c79b8dd0.bindTooltip(
                `<div>
                     ['piantuccia']
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>