<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9a2917434d2fec91da9e2a35702c5c6a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_9a2917434d2fec91da9e2a35702c5c6a" ></div>
        
</body>
<script>
    
    
            var map_9a2917434d2fec91da9e2a35702c5c6a = L.map(
                "map_9a2917434d2fec91da9e2a35702c5c6a",
                {
                    center: [45.645434, 13.849094],
                    crs: L.CRS.EPSG3857,
                    zoom: 4,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f9c27d7b9ba7fd547b29d6a3011629c5 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_9a2917434d2fec91da9e2a35702c5c6a);
        
    
            var circle_e175a158e8f6dba18b2d7c5fecea149a = L.circle(
                [45.35398888888289, 13.78848055555543],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_9a2917434d2fec91da9e2a35702c5c6a);
        
    
            circle_e175a158e8f6dba18b2d7c5fecea149a.bindTooltip(
                `<div>
                     ['piantella']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_fa41b3a08a4f4a28779eaffe943e6e18 = L.circle(
                [45.45398888888889, 13.78848055555456],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_9a2917434d2fec91da9e2a35702c5c6a);
        
    
            circle_fa41b3a08a4f4a28779eaffe943e6e18.bindTooltip(
                `<div>
                     ['pianta']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_b17b68e21021448ab5135c05e2d1555d = L.circle(
                [45.55398888888899, 13.78848055555556],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_9a2917434d2fec91da9e2a35702c5c6a);
        
    
            circle_b17b68e21021448ab5135c05e2d1555d.bindTooltip(
                `<div>
                     ['piantina']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_0ada16be03856ea989ed1ec70ddc2706 = L.circle(
                [45.65398888888859, 13.78848055555557],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_9a2917434d2fec91da9e2a35702c5c6a);
        
    
            circle_0ada16be03856ea989ed1ec70ddc2706.bindTooltip(
                `<div>
                     ['pianana']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_0ed9d13471162030ca22b77dc545cc11 = L.circle(
                [45.7, 13.78848055555559],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_9a2917434d2fec91da9e2a35702c5c6a);
        
    
            circle_0ed9d13471162030ca22b77dc545cc11.bindTooltip(
                `<div>
                     ['pianterella']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_e1c6169fab17f5921e6bf173a7fcf8f9 = L.circle(
                [45.85398888888689, 13.78848055555551],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_9a2917434d2fec91da9e2a35702c5c6a);
        
    
            circle_e1c6169fab17f5921e6bf173a7fcf8f9.bindTooltip(
                `<div>
                     ['piantazza']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_e3475b6d0fb26a1b35a50f13f3ccd965 = L.circle(
                [45.95398888888789, 13.78848055555512],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_9a2917434d2fec91da9e2a35702c5c6a);
        
    
            circle_e3475b6d0fb26a1b35a50f13f3ccd965.bindTooltip(
                `<div>
                     ['piantuccia']
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>