<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/index_style.css" />
    <link rel="stylesheet" href="../static/css/nav_style.css" />
    <title>home page</title>
  </head>
  <body>
    <!------------------------------------NAVBAR-------------------------------------->
    <!--IMPORTANTE : correggere tutti i link!!
                     aggiungere il JS per il menù a tendina e barra ricerca-->

    <header>
      <nav>
        <a href="index.html"
          ><img
            src="../static/img/poster-foglia-di-quercia.jpg.jpg"
            alt="logo"
            width="80px"
            height="auto"
        /></a>
        <div>
          <div class="mainmenu">
            <div><a href="../html/index.html">home</a></div>
            <div>
              <a href="../html/projects-home.html">progetti</a>
              <div class="tendina">
                <a href="../html/projects/progetto1.html">progetto 1</a>
                <a href="../html/projects/progetto1.html">progetto 2</a>
                <a href="../html/projects/progetto1.html">progetto 3</a>
              </div>
            </div>
            <div><a href="../html/contatti.html">contatti</a></div>
          </div>
          <div class="searchbar">
            <input id="in" type="text" placeholder="cerca" />
            <img
              id="lente"
              src="./img/search_FILL0_wght400_GRAD0_opsz48.svg"
              alt="find"
            />
          </div>
        </div>
      </nav>
    </header>
    <!------------------------------------TITOLO---------------------------------------->
    <div class="titolo">
      <h1>{{titolo_princ}}</h1>
      <h2>{{sottotitolo}}</h2>
    </div>
    <!--------------------------------------form-------------------------------------->

    <!--------------------------------------box grafici e mappa-------------------------------------->

    <!--------------------------------------FOOTER---------------------------------------->
    <!-- vedi perché non funzionano i loghi-->

    <footer>
      <ul>
        <li>
          <a href="https://www.garanteprivacy.it/regolamentoue">privacy</a>
        </li>
        <li>
          <address>
            <a href="mailto:giulio.lapovich@itsvolta.it">email</a>
          </address>
        </li>
        <li><address>tel: amministrazione: +347 1234567</address></li>
        <li><address>tel: direzione: +347 9876543</address></li>
        <li class="social">
          <a
            href="https://twitter.com/?lang=it"
            target="_blank"
            title="twittwer"
            ><img
              src="./img/icons8-twitter-64.png"
              alt="twitter"
              width="30px"
              height="auto"
          /></a>
        </li>
        <li class="social">
          <a href="https://www.instagram.com/" target="_blank" title="instagram"
            ><img
              src="./img/icons8-instagram.svg"
              alt="instagram"
              width="30px"
              height="auto"
          /></a>
        </li>
        <li class="social">
          <a href="https://it.linkedin.com/" target="_blank" title="linkedin"
            ><img
              src="./img/icons8-linkedin-cerchiato.svg"
              alt="linkedin"
              width="30px"
              height="auto"
          /></a>
        </li>
      </ul>
    </footer>
  </body>
</html>
