<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/index_style.css" />
    <link rel="stylesheet" href="../static/css/nav_style.css" />
    <title>about us</title>
  </head>
  <body>
    <!------------------------------------NAVBAR-------------------------------------->
    <header>
      <nav>
        <a href="{{ url_for('index') }}"
          ><img
            src="../static/img/poster-foglia-di-quercia.jpg.jpg"
            alt="logo"
            width="80px"
            height="auto"
        /></a>
        <div>
          <div class="mainmenu">
            <div><a href="{{ url_for('index') }}">home</a></div>
            <div class="dropdown">
              <a onclick="myFunction()" class="dropbtn">progetti</a>
              <div id="myDropdown" class="tendina">
                <a href="{{ url_for('mappa') }}">mappa</a>
                <a href="https://github.com/Lasagnanator/piantala">GitHub</a>
                <a href="https://trello.com/b/hGZ7Y1HF/piantala">Trello</a>
              </div>
            </div>
            <div><a href="{{ url_for('about') }}">about us</a></div>
          </div>
          <div class="searchbar">
            <input id="in" type="text" placeholder="cerca" />
            <img
              id="lente"
              src="../static/img/search_FILL0_wght400_GRAD0_opsz48.svg"
              alt="find"
              onClick="location.href='./404.html'"
            />
          </div>
        </div>
      </nav>
    </header>
    <div id="presentazione">
      <div
        style="
          position: relative;
          width: 100%;
          height: 0;
          padding-top: 56.25%;
          padding-bottom: 0;
          box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
          margin-top: 1.6em;
          margin-bottom: 0.9em;
          overflow: hidden;
          border-radius: 8px;
          will-change: transform;
        "
      >
        <iframe
          loading="lazy"
          style="
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border: none;
            padding: 0;
            margin: 0;
          "
          src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFSlwPMnv8&#x2F;view?embed"
          allowfullscreen="allowfullscreen"
          allow="fullscreen"
        >
        </iframe>
      </div>
      <a
        href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFSlwPMnv8&#x2F;view?utm_content=DAFSlwPMnv8&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link"
        target="_blank"
        rel="noopener"
        >PIANTALA</a
      >
      di Mattia Castellani
    </div>

    <!--------------------------------------FOOTER---------------------------------------->
    <footer>
      <ul>
        <li>
          <a href="https://www.garanteprivacy.it/regolamentoue">privacy</a>
        </li>
        <li>
          <address>
            <a href="mailto:giulio.lapovich@itsvolta.it">email</a>
          </address>
        </li>
        <li><address>tel: amministrazione: +347 1234567</address></li>
        <li><address>tel: direzione: +347 9876543</address></li>
        <li class="social">
          <a
            href="https://twitter.com/?lang=it"
            target="_blank"
            title="twittwer"
            ><img
              src="../static/img/icons8-twitter.svg"
              alt="twitter"
              width="30px"
              height="auto"
          /></a>
        </li>
        <li class="social">
          <a href="https://www.instagram.com/" target="_blank" title="instagram"
            ><img
              src="../static/img/icons8-instagram.svg"
              alt="instagram"
              width="30px"
              height="auto"
          /></a>
        </li>
        <li class="social">
          <a href="https://it.linkedin.com/" target="_blank" title="linkedin"
            ><img
              src="../static/img/icons8-linkedin-cerchiato.svg"
              alt="linkedin"
              width="30px"
              height="auto"
          /></a>
        </li>
      </ul>
    </footer>
  </body>
  <script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
      if (!event.target.matches(".dropbtn")) {
        var dropdowns = document.getElementsByClassName("tendina");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains("show")) {
            openDropdown.classList.remove("show");
          }
        }
      }
    };
  </script>
</html>
