<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_34bc771c91ea0074f2c05f8d694aa607 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_34bc771c91ea0074f2c05f8d694aa607" ></div>
        
</body>
<script>
    
    
            var map_34bc771c91ea0074f2c05f8d694aa607 = L.map(
                "map_34bc771c91ea0074f2c05f8d694aa607",
                {
                    center: [45.645434, 13.849094],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_2852594cd5a7b00404fd3cc41b9eb597 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca target=\"_blank\" href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca target=\"_blank\" href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 14, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_34bc771c91ea0074f2c05f8d694aa607);
        
    
            var circle_2c469624b48a6eac1389b8380602ac73 = L.circle(
                [45.65398888888889, 13.788480555555555],
                {"bubblingMouseEvents": true, "color": false, "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_34bc771c91ea0074f2c05f8d694aa607);
        
    
            circle_2c469624b48a6eac1389b8380602ac73.bindTooltip(
                `<div>
                     ['Epipremnum aureum']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_888a14011a28b08737f53e6e339d0a47 = L.circle(
                [45.643925, 13.849655555555556],
                {"bubblingMouseEvents": true, "color": false, "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_34bc771c91ea0074f2c05f8d694aa607);
        
    
            circle_888a14011a28b08737f53e6e339d0a47.bindTooltip(
                `<div>
                     ['Epipremnum aureum']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_7fa00bb0f86d0225f8bb852aa38c9c88 = L.circle(
                [45.64391388888889, 13.849694444444445],
                {"bubblingMouseEvents": true, "color": false, "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_34bc771c91ea0074f2c05f8d694aa607);
        
    
            circle_7fa00bb0f86d0225f8bb852aa38c9c88.bindTooltip(
                `<div>
                     ['Epipremnum aureum']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_a9fc52f453220f81bfe561950b6be867 = L.circle(
                [45.643925, 13.849655555555556],
                {"bubblingMouseEvents": true, "color": false, "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_34bc771c91ea0074f2c05f8d694aa607);
        
    
            circle_a9fc52f453220f81bfe561950b6be867.bindTooltip(
                `<div>
                     ['Epipremnum aureum']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_40bf5f6aff0c7b6053ba8f2fa7be6a37 = L.circle(
                [45.64391388888889, 13.849694444444445],
                {"bubblingMouseEvents": true, "color": false, "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_34bc771c91ea0074f2c05f8d694aa607);
        
    
            circle_40bf5f6aff0c7b6053ba8f2fa7be6a37.bindTooltip(
                `<div>
                     ['Epipremnum aureum']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_7be7d3c4109003fc9feb3d27eb8592f8 = L.circle(
                [45.644, 13.848391666666666],
                {"bubblingMouseEvents": true, "color": false, "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_34bc771c91ea0074f2c05f8d694aa607);
        
    
            circle_7be7d3c4109003fc9feb3d27eb8592f8.bindTooltip(
                `<div>
                     ['Epipremnum aureum']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_7ee8487c07143de4487cf35f4c523404 = L.circle(
                [45.65398888888889, 13.788480555555555],
                {"bubblingMouseEvents": true, "color": false, "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_34bc771c91ea0074f2c05f8d694aa607);
        
    
            circle_7ee8487c07143de4487cf35f4c523404.bindTooltip(
                `<div>
                     ['Epipremnum aureum']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_79702393516f8d1c9575828090fa97b8 = L.circle(
                [45.65398888888889, 13.788480555555555],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_34bc771c91ea0074f2c05f8d694aa607);
        
    
            circle_79702393516f8d1c9575828090fa97b8.bindTooltip(
                `<div>
                     ['Epipremnum aureum']
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>