<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9e1e7dea72a63b77a3ceba83ce27d169 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_9e1e7dea72a63b77a3ceba83ce27d169" ></div>
        
</body>
<script>
    
    
            var map_9e1e7dea72a63b77a3ceba83ce27d169 = L.map(
                "map_9e1e7dea72a63b77a3ceba83ce27d169",
                {
                    center: [45.645434, 13.849094],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_40db4d7c3bf29dfb3e1810e7c7cad9ea = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca target=\"_blank\" href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca target=\"_blank\" href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 14, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_9e1e7dea72a63b77a3ceba83ce27d169);
        
    
            var circle_7728d2605d0a7b53be0c6549d6ac6278 = L.circle(
                [45.65398888888889, 13.788480555555555],
                {"bubblingMouseEvents": true, "color": false, "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_9e1e7dea72a63b77a3ceba83ce27d169);
        
    
            circle_7728d2605d0a7b53be0c6549d6ac6278.bindTooltip(
                `<div>
                     ['Salvia officinalis']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_f5864ad6c69fabbf4853bf7a8802b6e5 = L.circle(
                [45.65398888888889, 13.788480555555555],
                {"bubblingMouseEvents": true, "color": false, "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_9e1e7dea72a63b77a3ceba83ce27d169);
        
    
            circle_f5864ad6c69fabbf4853bf7a8802b6e5.bindTooltip(
                `<div>
                     ['Salvia officinalis']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_9934de456cdf7be9970f2ea65515f0ba = L.circle(
                [45.65398888888889, 13.788480555555555],
                {"bubblingMouseEvents": true, "color": false, "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_9e1e7dea72a63b77a3ceba83ce27d169);
        
    
            circle_9934de456cdf7be9970f2ea65515f0ba.bindTooltip(
                `<div>
                     ['Salvia officinalis']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_ac3d460e00a15519b6155208d3900568 = L.circle(
                [45.65398888888889, 13.788480555555555],
                {"bubblingMouseEvents": true, "color": false, "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_9e1e7dea72a63b77a3ceba83ce27d169);
        
    
            circle_ac3d460e00a15519b6155208d3900568.bindTooltip(
                `<div>
                     ['Salvia officinalis']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_e66ffa686eb84fe61782ad534b1ca0fe = L.circle(
                [45.65398888888889, 13.788480555555555],
                {"bubblingMouseEvents": true, "color": false, "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_9e1e7dea72a63b77a3ceba83ce27d169);
        
    
            circle_e66ffa686eb84fe61782ad534b1ca0fe.bindTooltip(
                `<div>
                     ['Salvia officinalis']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_cfe10f7b1515b91db310cd9c96b06df8 = L.circle(
                [45.644, 13.848391666666666],
                {"bubblingMouseEvents": true, "color": false, "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_9e1e7dea72a63b77a3ceba83ce27d169);
        
    
            circle_cfe10f7b1515b91db310cd9c96b06df8.bindTooltip(
                `<div>
                     ['Salvia officinalis']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_b905523f258f04c528782d512555be96 = L.circle(
                [45.65398888888889, 13.788480555555555],
                {"bubblingMouseEvents": true, "color": false, "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_9e1e7dea72a63b77a3ceba83ce27d169);
        
    
            circle_b905523f258f04c528782d512555be96.bindTooltip(
                `<div>
                     ['Salvia officinalis']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_f35f7fd07ad346faa519bf9a64177041 = L.circle(
                [45.65398888888889, 13.788480555555555],
                {"bubblingMouseEvents": true, "color": false, "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_9e1e7dea72a63b77a3ceba83ce27d169);
        
    
            circle_f35f7fd07ad346faa519bf9a64177041.bindTooltip(
                `<div>
                     ['Salvia officinalis']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_6d384e7448ec29ac18dd3d4c3002490c = L.circle(
                [45.643925, 13.849655555555556],
                {"bubblingMouseEvents": true, "color": false, "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_9e1e7dea72a63b77a3ceba83ce27d169);
        
    
            circle_6d384e7448ec29ac18dd3d4c3002490c.bindTooltip(
                `<div>
                     ['Salvia officinalis']
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_5be0e0d1086fda81be62abb290dfda00 = L.circle(
                [45.643925, 13.849655555555556],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_9e1e7dea72a63b77a3ceba83ce27d169);
        
    
            circle_5be0e0d1086fda81be62abb290dfda00.bindTooltip(
                `<div>
                     ['Salvia officinalis']
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>