<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e3ae866e7e21189b7189a590a6546815 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_e3ae866e7e21189b7189a590a6546815" ></div>
        
</body>
<script>
    
    
            var map_e3ae866e7e21189b7189a590a6546815 = L.map(
                "map_e3ae866e7e21189b7189a590a6546815",
                {
                    center: [45.645434, 13.849094],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_5e51b1dddcb4035f1fc54f4100fcb6bd = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca target=\"_blank\" href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca target=\"_blank\" href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 14, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e3ae866e7e21189b7189a590a6546815);
        
    
            var circle_925fcb4431cdea277573a45e8d862723 = L.circle(
                [45.65398888888889, 13.788480555555555],
                {"bubblingMouseEvents": true, "color": false, "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e3ae866e7e21189b7189a590a6546815);
        
    
            circle_925fcb4431cdea277573a45e8d862723.bindTooltip(
                `<div>
                     [14]
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_c2e6d21924d8f1aa76a0a6524a0991f8 = L.circle(
                [45.65398888888889, 13.788480555555555],
                {"bubblingMouseEvents": true, "color": false, "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e3ae866e7e21189b7189a590a6546815);
        
    
            circle_c2e6d21924d8f1aa76a0a6524a0991f8.bindTooltip(
                `<div>
                     [14]
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_26f4e6b70b601adc9c38f5aa332a14cc = L.circle(
                [45.65398888888889, 13.788480555555555],
                {"bubblingMouseEvents": true, "color": false, "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e3ae866e7e21189b7189a590a6546815);
        
    
            circle_26f4e6b70b601adc9c38f5aa332a14cc.bindTooltip(
                `<div>
                     [14]
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_00b5721c8f3f424c96d4abafe08edec4 = L.circle(
                [45.65398888888889, 13.788480555555555],
                {"bubblingMouseEvents": true, "color": false, "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e3ae866e7e21189b7189a590a6546815);
        
    
            circle_00b5721c8f3f424c96d4abafe08edec4.bindTooltip(
                `<div>
                     [14]
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_81e06499bbf0e22f1a4e5ba5a8a721c5 = L.circle(
                [45.65398888888889, 13.788480555555555],
                {"bubblingMouseEvents": true, "color": false, "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e3ae866e7e21189b7189a590a6546815);
        
    
            circle_81e06499bbf0e22f1a4e5ba5a8a721c5.bindTooltip(
                `<div>
                     [14]
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_56eda9e3d5d6e17a95cdeb2cc2dc03b1 = L.circle(
                [45.644, 13.848391666666666],
                {"bubblingMouseEvents": true, "color": false, "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e3ae866e7e21189b7189a590a6546815);
        
    
            circle_56eda9e3d5d6e17a95cdeb2cc2dc03b1.bindTooltip(
                `<div>
                     [14]
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_16dbc4c1674c0d1e14138f424fea0bb9 = L.circle(
                [45.65398888888889, 13.788480555555555],
                {"bubblingMouseEvents": true, "color": false, "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e3ae866e7e21189b7189a590a6546815);
        
    
            circle_16dbc4c1674c0d1e14138f424fea0bb9.bindTooltip(
                `<div>
                     [14]
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_aeda5cbbcb7ca7ba50639244b926ec34 = L.circle(
                [45.65398888888889, 13.788480555555555],
                {"bubblingMouseEvents": true, "color": false, "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e3ae866e7e21189b7189a590a6546815);
        
    
            circle_aeda5cbbcb7ca7ba50639244b926ec34.bindTooltip(
                `<div>
                     [14]
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_3f41385b67f3b6b61d1bb04c777992d8 = L.circle(
                [45.65398888888889, 13.788480555555555],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3, "stroke": true, "weight": 3}
            ).addTo(map_e3ae866e7e21189b7189a590a6546815);
        
    
            circle_3f41385b67f3b6b61d1bb04c777992d8.bindTooltip(
                `<div>
                     ['Salvia officinalis']
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>