{% extends 'base.html' %}

{% block content %}



<div id="title">
      <h1>identificazione</h1>
    </div>
    <div id=box_risposte>
      <p id="risposta">
        <h2>la pianta che vuoi identificare è:</h2>
      </p>
      <p id="listarisposta">
        <span>
          <ul>
            <li>nome comune: {{plant.commonName}}</li>
            <li>nome scientifico:<i> {{plant.specie}}</i></li>
            <li>genere: {{plant.genus}}</li>
            <li>famiglia: {{plant.family}}</li>
            <li>affidabilità della rilevazione: {{plant.reliability}}</li>
            <li>latitudine: {{plant.lat}}</li>
            <li>longitudine: {{plant.long}}</li>
          </ul>
        </span>
      </p>
    </div>
    <div id="box_mappa">
      <div><p>mappa</p>
      </div>
    </div>
    
{% endblock content %}