<!DOCTYPE html>
<html lang="en">
<head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>welcome to the page</title>
    {% endif %}
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="../static/img/icons8-immagine.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/nav_style.css" />
    <link rel="stylesheet" href="../static/css/index_style.css" />
</head>
<body>
{% include '_navbar.html'%}
    <!-- flash messages handler-->
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class = "alert alert-info", role="alert"> {{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock content %}
    </div>
        {% block index %}
        {% endblock index %}
    
    {% include "_footer.html"%}

    </html>